@import "variables";
@import "common";

.header{
    background-color: $main-color;
    color: #fff;
    &__inner{
        display: grid;
        grid-auto-flow: column;
        align-content: center;
        min-height: 41px;
        .header{
            &__info{
                display: grid;
                grid-auto-flow: column;
                justify-content: start;
                &-item{
                    display: flex;
                    align-content: center;
                }
                &-icon{
                    margin-right: 7px;
                    margin-left: 5px;
                }
                &-location{
                    margin-right: 11px;
                }
                &-metro{
                    margin-right: 26px;
                }
            }
            &__lang{
                text-transform: uppercase;
                display: grid;
                justify-content: end;
            }
        }
    }   
}


